.wrapper {
    display: grid;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    grid-template-areas:
        "head head head"
        "menu  content current_order"
        "menu  content current_order"
        "menu  content amount";
    height: 100vh;
    grid-template-columns: auto 2fr 1fr;
    grid-template-rows: auto 1fr auto;
}
