.contentItem_item {
    display: inherit;
    position: relative;
    width: 200px;
    cursor: pointer;
}

.contentItem_item h4 {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    background-color: #00000031;
    backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 4px;
    font-size: 1.5rem;
}

.contentItem_item img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}
.contentItem_item div {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    background-color: #1876d1;
    padding: 5px;
    border-radius: 4px;
    font-size: 1.2rem;
}
