@import "../../variables.css";
.Header_wrap {
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: var(--transition-time);
}
.Header_wrap a {
    text-decoration: none;
    color: white;
}
