.container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0 0 20px 0;


}
.container p {
    padding: 0;
    margin: 0;

}

.checkbox:checked::before {
    background-color: #6ddd5f;
}

.container .checkbox {
    transform: translateY(-14px);
    width: 0;
    height: 0;
    position: relative;
    margin-right: 50px;
}

.checkbox::before {
    content: "";
    display: block;
    width: 50px;
    height: 28px;
    background: #dddddd;
    border-radius: 14px;
    transition: background 0.2s;
    cursor: pointer;
    opacity: 1;
}
.checkbox:hover::before {
    opacity: 0.8;
}
.checkbox {
    width: 0;
    height: 0;
    position: relative;
}
.checkbox::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: aliceblue;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 2);
    cursor: pointer;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: left 0.1s;
}
.checkbox:checked::after {
    left: 24px;
}