@import "../../variables.css";

.menuWrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 18px;
    background-color: var(--bg-color);
    height: 100%;
    overflow: auto;
    max-width: 240px;
    min-width: 200px;
    transition: var(--transition-time);
}

.menuWrapper a {
    text-decoration: none;
    color: white;
}
