:root{
    --var-body-bg:#1876d1
}

.menuWrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 18px;
    background-color: var(--var-body-bg);
    height: 100%;
    overflow: auto;
    max-width: 240px;

    min-width: 200px;
}

.menuWrapper a {
    text-decoration: none;
    color: white;
}
