* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    /* font-family: "Pangolin", cursive; */
    user-select: none;
}

a {
    font-family: 'Quicksand', sans-serif;
    /* font-family: "Pangolin", cursive; */
    text-decoration: none;
}