@import "./variables.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    /* font-family: "Pangolin", cursive; */
    user-select: none;
}

a {
    font-family: 'Quicksand', sans-serif;
    /* font-family: "Pangolin", cursive; */
    text-decoration: none;
}

input, select{
    border: 1ps solid gray;
    border-radius: 4px;
    /* background: none; */
    outline: none;
    background-color: var(--content-bg-color);
    padding: 10px;
}