.productsPage_wrap{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-items: center;
}

/* .productsPage_wrap > div:first-child{
    grid-area: 1/5/1/1;
    border-bottom: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 0 0 30px 0;
    align-items: center;
} */