@import "../../variables.css";
.OrderHistoryContainer_amountWrapper > div {
    border-bottom: 1px solid gray;
    width: fit-content;
}
.OrderHistoryContainer_amountWrapper > a {
    display: block;
    padding: 10px;
    color: black;
}
.accent {
    color: var(--accent-color);
}
